#ContactForm1{display:none;}
#cont{display:none;}
.quoute-content .quoute-link{
               float: right;
               color: #fff;
               border: 3px solid #fff;
               padding: 10px 25px;
               font-weight: 600;
               border-radius: 50px;
               margin-top: 35px;
               transition:.4s;
               }
               .quoute-content .quoute-link:hover{
               background:#fff;
               }
